* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

:root {
    --main-color : #F8F8F9;
    --brighter :  #e1e1e1;
    --background1 : #fff1e8;
    --background2 : #FEFEFF;

}


header{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.6s;
    background: var(--background1)
    
}

header h1 {
    text-transform: uppercase;
    color: var(--brighter)
}
.pres {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 50px;
    
}


.ingredients {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--brighter);
    border-radius: 20px;
    margin-left: 30px;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    
}

fieldset{
    box-shadow: 2px 2px 3px rgb(51, 55, 50);
    border: 1px solid var(--main-color);
    width : 90%;
    align-self: center;
    border-radius: 50px;

}
input:hover {
    cursor: pointer;
    
}

.recette {
    display: flex;
    justify-content: space-around;
}


.right-side-ticket {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 5px;
    
}

.ticket, .ticket2, .ticket3, .ticket4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 80%;
    align-self: center;
    border: 1px solid var(--brighter);
    box-shadow: 5px 5px 10px var(--brighter);
    line-height: 20px;
    transition: ease-in-out 0.5s;
    border-radius: 8px;
    height: 100px;
    visibility:hidden;
    opacity: 0;
    transition: visibility 0, opacity 1s ease-in-out; 
}
.ticket:hover,.ticket2:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px var(--brighter);
 }

ol {
    margin: 10px;
    line-height: 25px;
}
Legend{
    font-weight: 800;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    width: 150px;
    height: 60px;
    border-radius: 50px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(92, 91, 91);
    color: whitesmoke;
    box-shadow: 2px 2px 2px rgb(35, 35, 35);

}