@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0 auto;
    box-sizing: border-box;
}

:root {
    --main-color : #F8F8F9;
    --brighter :  #099F7C;
    --background1 : #05745A;
    --background2 : #FEFEFF;

}


header{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    transition: 0.6s;
    background: var(--background1)
    
}

nav{
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    font-family: "PT Serif";
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 500;
    text-shadow: 1px 1px 1px black;
    transition: transform 0.5s;
}

li a {
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

li a:hover {
    transform: scale(1.2);
}

a:visited{
  color: vblack;
}





.pres {
    width: 100%;
    display: grid;
    grid-template-columns: 70% 30%;
    padding-top: 50px;
    
}


.ingredients {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--background2);
    border-radius: 20px;
    margin-left: 30px;
}

fieldset{
    font-family: "PT serif";
    letter-spacing: 1px;
    box-shadow: 2px 2px 3px var(--brighter);
    border: 1px solid var(--main-color);
    width : 90%;
    align-self: center;
    border-radius: 50px;

}
input:hover {
    cursor: pointer;
    
}

.recette {
    display: flex;
    justify-content: space-around;
}


.right-side-ticket {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding-top: 20px;
    position: relative;
    
}

.ticket, .ticket2, .ticket3, .ticket4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 35px;
    padding: 10px;
    width: 80%;
    align-self: center;
    border: 1px solid var(--brighter);
    box-shadow: 5px 5px 10px var(--brighter);
    line-height: 20px;
    transition: ease-in-out 0.5s;
    border-radius: 8px;
    height: 100px;
    visibility:hidden;
    opacity: 0;
    transition: visibility 0, opacity 1s ease-in-out; 
}

.ticket{
 background: url(./Purée.jpg) center/cover;

}
.ticket:hover,.ticket2:hover, .ticket3:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px var(--brighter);
 }

ol {
    margin: 10px;
    line-height: 25px;
}
Legend{
    font-weight: 800;
}


footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    width: 130px;
    height: 130px;
    border-radius: 70px;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    right: 120px;
    font-family: "PT serif";
    letter-spacing: 1px;
    box-shadow: 2px 2px 3px var(--brighter);
    border: 1px solid var(--main-color);
    transition: 0.5s;
}

button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 4px var(--brighter);


}